h2{
    background-color:burlywood;
    color: mediumvioletred;
}

h3{
    /* background-color: chartreuse; */
    color: rgb(45, 7, 106);
}

/* h4{
    background-color: tomato;
    color: darkblue;
} */